main{
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  background-color: black;
  padding-top: 1%;
  padding-bottom: 2%;
  padding: 5%;
  padding-right: 5%;
  color: white;
  margin-top: 5%;

}
.NomePrincipal{
  color: white;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.LinksNavegacao{
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  text-decoration: none;
  color: white;
  margin: 0%;

}
.footer{
  padding: 2.5rem 0;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
h2, h3{
  font-family: 'Ranga', cursive;
}
.footer-section {
	padding: 18px 0 16px;
	overflow: hidden;
	background: #252525;
}

.footer-menu {
	list-style: none;
	float: right;
}

.footer-menu li {
	display: inline;
}

.footer-menu li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #aeaeae;
	margin-left: 30px;
}
#seta{
  background-color: black;
  border-radius: 20%;
  border: 2px solid silver;
  font-size: 35px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
}
h1{
  text-align: center;
}
main p{
  opacity: 0.7;
}
main h1{
  opacity: 0.7;
}
main h2{
  opacity: 0.7;
}
.imgmain{
  opacity: 0.7;
  border-radius: 20%;
}
main h3{
  opacity: 0.7;
}
.icone{
 display: inline;
 height: 10%;
 margin: 0 5px;
}
table{
  text-align: center;
  border: 1px solid white;
}
body {
  background-image: url("../img/pattern.png");
  	background-repeat: repeat;
}
th{
  padding: 2%;
}
td{
  padding: 2%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
#dlcs{
  display: block;
  width: 15%;
  float: left;
  margin-right: 10%;
}
#dlcs2{
  display: block;
  width: 15%;
  float: left;
  margin-right: 10%;
}
#dlcs3{
  display: block;
  width: 15%;
  float: left;
  margin-right: 10%;
}
#dlcs4{
  display: block;
  width: 15%;
  float: left;
}
#silk{
  border-radius: 20%;
}
canvas{  position: absolute;
   top: 0px;
   left: 0px;
   z-index: 4;
 }
